# 추천시스템에 사용할 코사인 유사도
기존의 노트북을 사용하면 MemoryError가 발생하였기 때문에 다른 노트북을 사용하여 진행하겠습니다.

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

텍스트 전처리한 파일을 불러옵니다.

In [2]:
df = pd.read_pickle('modeling_text_data2.pkl')
index = df['id']
df.shape

(56744, 21114)

데이터의 스케일을 맞추어줍니다.
- ex) 100g, 1개 등등

In [3]:
scaler =StandardScaler()
scaled_df = scaler.fit_transform(df)
scaled_df

array([[-4.11902464, -0.03383911, -0.00587727, ..., -0.00419801,
        -0.00419801, -0.00419801],
       [-4.11688109, -0.03383911, -0.00587727, ..., -0.00419801,
        -0.00419801, -0.00419801],
       [-4.1119402 , -0.03383911, -0.00587727, ..., -0.00419801,
        -0.00419801, -0.00419801],
       ...,
       [ 0.45194348, -0.03383911, -0.00587727, ..., -0.00419801,
        -0.00419801, -0.00419801],
       [ 0.45194549, -0.03383911, -0.00587727, ..., -0.00419801,
        -0.00419801, -0.00419801],
       [ 0.4519475 , -0.03383911, -0.00587727, ..., -0.00419801,
        -0.00419801, -0.00419801]])

코사인 유사도를 구해줍니다.

In [4]:
scaled_cos = cosine_similarity(scaled_df, scaled_df)
print('코사인 유사도 연산 결과 : ', scaled_cos.shape)

코사인 유사도 연산 결과 :  (56744, 56744)

램의 공간을 확보하기 위하여 사용하지 않는 변수를 제거해줍니다.

In [5]:
del scaled_df

In [6]:
scaled_cos

array([[ 1.        ,  0.02099662,  0.1632386 , ..., -0.00567935,
        -0.0129643 , -0.04767167],
       [ 0.02099662,  1.        ,  0.11523747, ..., -0.0026846 ,
        -0.00493963, -0.01717929],
       [ 0.1632386 ,  0.11523747,  1.        , ..., -0.01499806,
        -0.02012817, -0.06075413],
       ...,
       [-0.00567935, -0.0026846 , -0.01499806, ...,  1.        ,
        -0.00101715,  0.00952434],
       [-0.0129643 , -0.00493963, -0.02012817, ..., -0.00101715,
         1.        ,  0.06019024],
       [-0.04767167, -0.01717929, -0.06075413, ...,  0.00952434,
         0.06019024,  1.        ]])

일련변호를 확인하기 위하여 데이터프레임으로 변경해줍니다.

In [7]:
cosine_df = pd.DataFrame(scaled_cos, index=index, columns=index)
cosine_df.head()

id,128671,131871,139247,149207,151148,153040,221094,221097,221098,221101,...,6952431,6952433,6952434,6952435,6952436,6952437,6952438,6952443,6952446,6952449
id,,,,,,,,,,,,,,,,,,,,,
128671,1.000000,0.020997,0.163239,0.172677,0.002692,0.172736,0.132333,0.046045,0.062765,0.002869,...,0.000922,-0.001055,-0.010069,-0.008509,-0.073098,-0.073990,-0.001984,-0.005679,-0.012964,-0.047672
131871,0.020997,1.000000,0.115237,0.121909,0.001914,0.121953,0.093496,0.002822,0.044254,0.002035,...,-0.002276,-0.000513,-0.005374,-0.003137,-0.025270,-0.024805,-0.000826,-0.002685,-0.004940,-0.017179
139247,0.163239,0.115237,1.000000,0.944339,0.014898,0.944696,0.724774,0.021935,0.343365,0.015808,...,-0.013676,-0.003649,-0.034028,-0.021018,-0.080133,-0.071908,-0.003830,-0.014998,-0.020128,-0.060754
149207,0.172677,0.121909,0.944339,1.000000,0.015760,0.999427,0.766762,0.023204,0.363248,0.016723,...,-0.014419,-0.003853,-0.035918,-0.022103,-0.082790,-0.073989,-0.004011,-0.015786,-0.020991,-0.063050
151148,0.002692,0.001914,0.014898,0.015760,1.000000,0.015765,0.012072,0.000362,0.005703,0.000261,...,-0.000453,-0.000105,-0.001001,-0.000874,-0.007879,-0.008008,-0.000208,-0.000580,-0.001376,-0.005107

위와 같은 이유로 제거합니다.

In [8]:
del scaled_cos

위에서 생성한 코사인유사도 데이터프레임을 이용하여  
number로 들어오는 일련번호와 가장 유사한 일련번호 10개를 추출합니다.

In [9]:
def new_get_recommendations(number):
    return cosine_df[number].sort_values(ascending=False).index[1:11]

In [10]:
cosine_df.columns = cosine_df.columns.map(str)

In [11]:
cosine_df.head()

id,128671,131871,139247,149207,151148,153040,221094,221097,221098,221101,...,6952431,6952433,6952434,6952435,6952436,6952437,6952438,6952443,6952446,6952449
id,,,,,,,,,,,,,,,,,,,,,
128671,1.000000,0.020997,0.163239,0.172677,0.002692,0.172736,0.132333,0.046045,0.062765,0.002869,...,0.000922,-0.001055,-0.010069,-0.008509,-0.073098,-0.073990,-0.001984,-0.005679,-0.012964,-0.047672
131871,0.020997,1.000000,0.115237,0.121909,0.001914,0.121953,0.093496,0.002822,0.044254,0.002035,...,-0.002276,-0.000513,-0.005374,-0.003137,-0.025270,-0.024805,-0.000826,-0.002685,-0.004940,-0.017179
139247,0.163239,0.115237,1.000000,0.944339,0.014898,0.944696,0.724774,0.021935,0.343365,0.015808,...,-0.013676,-0.003649,-0.034028,-0.021018,-0.080133,-0.071908,-0.003830,-0.014998,-0.020128,-0.060754
149207,0.172677,0.121909,0.944339,1.000000,0.015760,0.999427,0.766762,0.023204,0.363248,0.016723,...,-0.014419,-0.003853,-0.035918,-0.022103,-0.082790,-0.073989,-0.004011,-0.015786,-0.020991,-0.063050
151148,0.002692,0.001914,0.014898,0.015760,1.000000,0.015765,0.012072,0.000362,0.005703,0.000261,...,-0.000453,-0.000105,-0.001001,-0.000874,-0.007879,-0.008008,-0.000208,-0.000580,-0.001376,-0.005107

In [12]:
new_get_recommendations('128671')

Int64Index([5008005, 3641944, 3933232, 6925602, 6944586, 5352105, 2957910,
            2579264, 6890606, 5839673],
           dtype='int64', name='id')

In [13]:
list(new_get_recommendations('128671'))

[5008005,
 3641944,
 3933232,
 6925602,
 6944586,
 5352105,
 2957910,
 2579264,
 6890606,
 5839673]

결과를 담을 데이터 프레임을 생성해줍니다.

In [23]:
cosine_similarity = pd.DataFrame(index=cosine_df.index, columns=['1','2','3','4','5','6','7','8','9','10'])
cosine_similarity.loc[128671, :] = list(new_get_recommendations(str(128671)))
cosine_similarity

,1,2,3,4,5,6,7,8,9,10
id,,,,,,,,,,
128671,5008005,3641944,3933232,6925602,6944586,5352105,2957910,2579264,6890606,5839673
131871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6952437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6952438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6952443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6952446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6952449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
from tqdm import tqdm
for index in tqdm(cosine_df.index):
    cosine_similarity.loc[index, :] = list(new_get_recommendations(str(index)))

100%|████████████████████████████████████████████████████████████████████████████| 56744/56744 [14:20<00:00, 65.92it/s]

In [26]:
cosine_similarity.head()

,1,2,3,4,5,6,7,8,9,10
id,,,,,,,,,,
128671,5008005,3641944,3933232,6925602,6944586,5352105,2957910,2579264,6890606,5839673
131871,4678183,3113453,6460600,5637217,6653633,1723961,6914543,6061517,6888361,3133338
139247,153040,149207,702096,742233,723670,841548,922763,997040,829070,558801
149207,153040,702096,742233,723670,841548,922763,997040,829070,1025981,558801
151148,3868741,6630762,6668626,6860224,6856572,6910878,6880773,6897435,6889785,2693646

In [27]:
del cosine_df

서비스에서 사용할 수 있도록 저장해줍니다.

In [28]:
cosine_similarity.to_parquet('cosine_similarity.parquet')